* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #e5e1e1;
    font-family: Hanuman;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #141028;
}
/* ----------------------------------------------- top section ----------------------------------------------------------- */
/* azul, blanco, gris y toques de verde o naranja) */

.top__title{
    font-size: clamp(3vw, 3vw, 4vw);
    text-transform: uppercase;
}
.top__subtitle{
    position: absolute;
    bottom: 0;
    font-size: clamp(1vw, 1vw, 2vw);
}

/* ----------------------------------------------- main section ----------------------------------------------------------- */
.main__title{
    font-size: clamp(2vw, 7vw, 9vw);
    width: fit-content;
    height: fit-content;
    font-style: oblique;
    font-weight: 900;
    letter-spacing: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background-color: transparent;
    border-radius: 8px;
}
.main__title::after{
    content: "Confie plenamente";
    font-size: 2vw;
    position: absolute;
    bottom: -1%;
    right: 2%;
}
.main__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #0003;
    transition: width 0.3s ease-in-out;
}
.main__title:hover::before{
    width: 100%;
}
.main__subtitle{
    text-align: center;
    font-size: 2vw;
    font-family: Hanuman;
    font-weight: 600;
    letter-spacing: 4px;
}
.data__container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main__section{
    background-color: #eee;
    height: fit-content;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main__description__container{
    display: flex;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px #0002;
    background-color: #fff;
}
.main__description__img{
    background-image: linear-gradient(#0003, #0008), url(imagenescompañia.avif);
    background-size: cover;
    width: clamp(20vw, 40vw, 60vw);
    height: clamp(20vw, 30vw, 60vw);
    border-radius: 10px;
    flex: 1;
}
.main__data{
    width: 100%;
    height: 100%;
    font-size: calc(1.3rem - 1px);
    font-weight: 900;
    color: #242038;
    text-align: justify;
    margin: 0 10px;
    text-wrap: balance;
    padding: 20px;
    letter-spacing: 2px;
    hyphens: auto;
    font-family: Josefin Sans;
    line-height: 35px;
    border-radius: 10px;
}
/* -------------------- categories section -------------------------------*/
.categories__main__section{
    background-color: #111;
    padding: 20px;
    height: fit-content;
}
.categories__title{
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(1vw, 2.8vw, 3vw);
}
.categories__wrapper{
    display: grid;
    margin-top: -50px;
    grid-auto-flow: column;
    grid-template-rows: 600px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: auto;
    padding: 20px;
    animation-timeline: view();
    animation-delay: -.65s;
}
.animate__zoomIn{
    animation-timeline: view();
    animation-delay: -.4s;
}
.animate__fadeInLeft{
    animation-timeline: view();
    animation-range: contain;
    animation-delay: -.65s;
}
.animate__fadeInRight{
    animation-timeline: view();
    animation-range: contain;
    animation-delay: -.65s;
}
.animate__fadeInUp{
    animation-timeline: view();
    animation-range: contain;
    animation-delay: -.65s;
}
.categories__wrapper::-webkit-scrollbar{
    appearance: none;
}
.categories__wrapper::-webkit-scrollbar-track{
    background-color: transparent;
}
.categories__wrapper::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 5px;
}
.categorie__container{
    width: 500px;
    height: clamp(50vh, 60vh, 70vh);
    border: 1px solid #000;
    background-image: linear-gradient(#0007, #0008), url(iabuena.avif);
    background-size: cover;
    margin: 20px;
    border-radius: 6px;
    display: grid;
    place-content: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    scroll-snap-align: center;
}
/*categorie container -> */ .procesos{
    background-image: linear-gradient(#0007, #0008), url(procesos.avif);
}
/*categorie container -> */ .software{
    background-image: linear-gradient(#0007, #0008), url(software.avif);
}
/*categorie container -> */ .datos{
    background-image: linear-gradient(#0007, #0008), url(analisisdedatos.avif);
}
/*categorie container -> */ .machine{
    background-image: linear-gradient(#0007, #0008), url(machinelearingin.avif);
}
/*categorie container -> */ .servicios{
    background-image: linear-gradient(#0007, #0008), url(microservicios.avif);
}
/* ----------------------------- client section -------------------------- */
.client__section{
    background-color: #111;
    height: clamp(100vh, 100vh, 130vh);
    gap: 100px;
}
.client__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.client__title{
    padding: 80px;
    text-align: center;
    font-size: clamp(1vw, 3vw, 20vw);
    text-transform: uppercase;
    color: #fff;
}
.client__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    width: clamp(10vw, 30vw, 30vw);
    height: fit-content;
    box-shadow: 0 0 10px #0008;
    padding: 30px;
    border-radius: 8px;
    transition: all .4s;
}
.client__container:hover{
    transform: scale(1.03);
}
.img__client{
    width: clamp(8vw, 10vw, 12vw);
    height: clamp(8vw, 10vw, 12vw);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#0004, #0007), url(hombre.aviif.avif);
    filter: drop-shadow(0 0 10px #0004);
}
.señorita{
    background-image: linear-gradient(#0004, #0007), url(mujer.avif);
}
.señora{
    background-image: linear-gradient(#0004, #0007), url(señora.avif);
}
.datatext__client{
    color: #d1d5d5;
    font-size: clamp(1vw, 1.3vw, 1.4vw);
    text-wrap: balance;
    text-align: justify;
    hyphens: auto;
}
.footer{
    flex: 1;
    background-color: #000;
    padding: 90px;
    color: #fff;
    display: flex;
}
.footer__description{
    margin: auto;
    font-size: clamp(1vw, 2vw, 3vw);
    text-transform: uppercase;
    font-weight: 900;
}
.footer__list{
    list-style: none;
}
.footer__subtitle{
    font-size: clamp(2vw, 2vw, 2vw);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.footer__linkitem{
    font-size: clamp(1vw, 1.1vw, 2vw);
    color: #fff;
    text-decoration: none;
}
.footer__linkitem:hover{
    text-decoration: underline;
}

/* ----------------------------- media querie section -------------------------- */
@media screen and (max-width: 480px){
    .animate__animated, .animate__fadeInLeft, .animate__fadeInRight, .animate__fadeInUp{
        animation: none !important;
    }
    .main__title{
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .top__main__section{
        background-image: none;
        background-color: #242038;
        width: 100%;
        height: fit-content;
    }
    .data__container{
        order: 2;
        position: relative;
    }
    .top__main__button{
        order: 3;
        font-size: calc(1rem + 1px);
        display: none;
    }
    .top__main__img{
        animation: none;
        clip-path: none;
        mask-image: none;
        border-radius: 0;
        display: none;
    }
    .categories__wrapper{
        height: 300vh;
        display: flex;
        flex-direction: column;
        padding: 100px;
    }
    .categories__title{
        font-size: calc(1rem + 5px);
        color: #000;
    }
    .categorie__container{
        width: 90vw;
        height: 70vh;
    }
    .main__description{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .top__main__data{
        width: 100%;
    }
    .main__description__img{
        margin: 20px;
        width: 90vw;
        height: 40vh;
    }
    .client__section{
        height: auto;
    }
    .client__wrapper{
        display: flex;
        flex-direction: column;
    }
    .client__title{
        font-size: calc(1rem + 4px);
    }
    .client__container{
        width: fit-content;
    }
    .img__client{
        width: 40vw;
        height: 20vh;
    }
    .datatext__client{
        font-size: calc(1rem + 2px);
    }
    svg{
        display: none;
    }
    .footer__list{
        list-style: square;
    }
    .footer__subtitle{
        font-size: calc(1rem + 5px);
        width: fit-content;
    }
    .footer__description{
        font-size: calc(1rem);
    }
    .footer__linkitem{
        font-size: calc(1rem);
    }
}

